.outerPostBox:hover {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: #cfb997;
  width: 270px;
  height: 350px;
  border-color: white;
  border-width: 200px;
  border-radius: 5%;
  box-shadow: 5px 5px 7.4564px rgba(0, 0, 0, 0.1);
  margin: 0% 20;
  gap: 3rem;
}

.innerPostBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.postImage {
  width: 220px;
  height: 220px;
  margin-top: 10%;
  border-radius: 5%;
}

.caption {
  text-align: center;
  margin-top: 10px;
  background-color: #fad6a5;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

.name {
  font-family: "Varela Round", serif;
  font-weight: bold;
  margin: 0;
}

.duration {
  font-family: "Nunito", serif;
}
