.outerPostBox:active {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #CFB997;
  width: 300px;
  height: 350px;
  border-radius: 5%;
  box-shadow: 5px 5px 7.4564px rgba(0, 0, 0, 0.1);
  margin: 0% 20;
  gap: 50rem;
}

.innerPostBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.postImage {
  width: 220px;
  height: 220px;
  margin-top: 10%;
  border-radius: 5%;
}

.caption {
  text-align: center;
  margin-top: 10px;
  background-color: #FAD6A5;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}
