body {
  /* font-family: "Inter"; */
  background-color: #fff5d9;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Varela Round", serif;
}

.posting {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
  flex: 1 1 auto;
  margin: 0 10%;
  padding-left: 5%;
  padding-right: 5%;
}

/* .tc {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  padding-bottom: 30px;
} */
