body {
  /* font-family: "Inter"; */
  background-color: #fff5d9;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Varela Round", serif;
}

.posting {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12px;
  flex: 1 1 auto;
  margin: 5% 10%;
  padding-left: 5%;
  padding-right: 5%;
  /* background-color: #8a705d; */
  border-radius: 5%;
  /* box-shadow: 5px 5px 7.4564px rgba(0, 0, 0, 0.1); *


}

