footer{
    bottom: 0;
    margin-top:5%;
    padding:3%;
    text-align: center;
    font-family: "Inter";
    background-color: #9BA17B;
    color: black;
  font-family: "Varela Round", serif;
    
}