.container{
    display: flex;
    justify-content: space-between;
   padding:2% 5%;
   margin-bottom: 3%;
   box-shadow: 0px 5px 7.4564px rgba(0, 0, 0, 0.1);

}

.landing-img{
    width: 50%;
}

.container p{
    font-weight: 500;
    font-size: large;
    align-items: center;

}

.container-text{
    text-align: left;
    width: 40%;
}